<!DOCTYPE html>
<html lang="en">
  <%- include('component/head'); -%>
  <body id="page-top">
    <!-- Navigation-->
    <%- include('component/navigation'); -%>
    <!-- Masthead-->
    <%- include('component/masthead'); -%>
    <!-- Services-->
    <%- include('content/abjad'); -%>
    <!-- Bootstrap core JS-->
    <%- include('component/script'); -%>
  </body>
</html>
