<!DOCTYPE html>
<html lang="en">
    <%- include('component/head'); -%>
    <body id="page-top">
        <!-- Navigation-->
        <%- include('component/navigation'); -%>
        <!-- Masthead-->
        <%- include('component/masthead'); -%>
        <!-- Services-->
        <%- include('component/service'); -%>
        <!-- Portfolio Grid-->
        <%- include('component/fortopolio'); -%>
        <!-- About-->
        <%- include('component/about'); -%>
        <!-- Team-->
        <%- include('component/team'); -%>
        <!-- Clients-->
        <%- include('component/client'); -%>
        <!-- Contact-->
        <%- include('component/contact'); -%>
        <!-- Footer-->
        <%- include('component/footer'); -%>
        <!-- Portfolio Modals-->
        <!-- Modal 1-->
        <%- include('component/modal1'); -%>
        <!-- Modal 2-->
        <%- include('component/modal2'); -%>
        <!-- Modal 3-->
        <%- include('component/modal3'); -%>
        <!-- Modal 4-->
        <%- include('component/modal4'); -%>
        <!-- Modal 5-->
        <%- include('component/modal5'); -%>
        <!-- Modal 6-->
        <%- include('component/modal6'); -%>
        <!-- Bootstrap core JS-->
        <%- include('component/script'); -%>
    </body>
</html>
